<%- include('pageheader'); %>
  
  <% if (events.length == 0) { %>
     <%- include('noeventsplash'); %>
  <% } %>
      
  <% for(let i=0; i<events.length; i+=1) {
        var event = events[i];
        %>
      
      <div class="row mb-2">
        <%- include('eventsplash', { event, user }); %>
      </div>
      
  <% } %>

<%- include('neweventmodal'); %>


