  <div class="jumbotron p-4 p-md-5 text-white rounded bg-dark">
    <div class="col-md-8 px-0">
      <h1 class="display-4 font-italic">Kompetens	&#10084; Collector</h1>
      <p class="lead my-3">Welcome to our fun and educative events at Collector. To enlist for an event, just login and press the sign up button.</p>
      <!--
      <p class="lead mb-0">
          <span class="text-white font-weight-bold">Anordnas av kompetensgruppen</span>
       </p>-->
    </div>
  </div>
