      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <div class="no-events-block">
            <p>
              There are currently no planned events.
            </p>
            <p>
              Please check back later!
            </p>
          </div>
        </div>
      </div>
