<footer class="blog-footer">
  <p>Events presented on this site are arranged by Kompetensgruppen.</p>
  <p>You must be a <a href="https://www.collector.se">Collector employee</a> (or in some other way approved) to signup.</p>
</footer>
</body>
</html>